.title__container {
  margin-top: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .title__content {
    font-weight: 400;
    font-size: 2rem;
  }

  .select__menu {
    display: none;
    position: relative;

    .select__btn {
      width: 142px;
      height: 42px;
      border: 1px solid $color-gray-700;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      background-color: $color-white;

      &:hover {
        filter: brightness(0.95);
      }
    }

    .select__list__active__order__menu {
      visibility: visible !important;
    }

    .select__list {
      visibility: hidden;
      position: absolute;
      bottom: -127px;
      left: 0;
      border: 1px solid $color-gray-700;
      width: 142px;

      & > li {
        padding: 0.625rem;
        cursor: pointer;
        background-color: $color-white;

        &:hover {
          filter: brightness(0.95);
          transition: all 100ms;
        }

        &.active {
          background-color: $color-blue-600;
          color: $color-white;
        }
      }
    }
  }
}

.filter__menu__mobile {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-gray-800;
  height: 40px;

  .filter__menu__divide {
    display: block;
    width: 1px;
    height: 100%;
    background-color: $color-gray-800;
  }

  & > button {
    width: 100%;
    background-color: transparent;
    color: $color-gray-800;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

@media (min-width: 980px) {
  .title__container {
    margin-top: 2.5rem;
    justify-content: space-between;

    .select__menu {
      display: block;
    }
  }

  .filter__menu__mobile {
    display: none;
  }
}
