.radio__prices__container {
  display: block;
  position: relative;
  padding-left: 1.55rem;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 0.625rem;
  }

  & > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .radio__mark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid $color-gray-800;
    background-color: transparent;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  & > input:checked ~ .radio__mark:after {
    display: block;
  }

  & > .radio__mark:after {
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    background-color: $color-blue-600;
    border-width: 0 3px 3px 0;
  }
}
