@import "reset";
@import "abstracts/variables";
@import "base/utilities";

@import "components/header";
@import "components/cart";
@import "components/modal.scss";
@import "components/orderModalContent.scss";
@import "components/FilterModalContent/index.scss";
@import "components/checkboxColors.scss";

@import "pages/home.scss";

body {
  font-family: "Open Sans", sans-serif;
}

body,
button,
textarea,
select,
input {
  font: 400 1rem "Open Sans", sans-serif;
}

.main-hero {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 1rem;
}
