@import "reset";
@import "abstracts/variables";

@import "components/header";
@import "components/cart";

@import "pages/home.scss";

body {
  font-family: "Open Sans", sans-serif;
}

.main-hero {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 1rem;
}
